<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>
  </head>
  <body>
    <h1>Summary</h1>
    <form action="post">
      <input type="date" name="" id="" placeholder="Date" />
      To
      <input type="date" name="" id="" placeholder="Date" />
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
    <br />
    This page will show summary regarding all the field and topic of the company
    <br />
    like total payment paid, total payment received,overall inventory, total
    <br />
    salary paid, profit and etc. <br />
  </body>
</html>
