<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creditors</title>
  </head>
  <body>
    {% load humanize %}
    <h1>Creditors</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Party Name</th>
          <th>Credit Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for ii in creditors%}
        <tr>
          <td>{{ii.partyName}}</td>
          <td>{{ii.difference|floatformat:2|intcomma:"l10n"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
