<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Paid</title>
  </head>
  <body>
    <h1>Payment Paid</h1>
    <form action="post">
      <input type="date" name="" id="" placeholder="Date" />
      <select name="" id="">
        <option value="">~select~</option>
      </select>
      <input type="text" name="" id="" placeholder="Enter the Amount" />
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
